# =========================
# Node / React
# =========================
node_modules/
dist/
dist-ssr/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =========================
# Python
# =========================
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Environment Variables
# =========================
.env
backend/.env

# =========================
# Uploads / Runtime Files
# =========================
uploads/
*.log

# =========================
# Local Config Files
# =========================
*.local

# =========================
# VS Code / IDE
# =========================
.vscode/*
!.vscode/extensions.json
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Visual Studio
# =========================
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?